.App {
  background-color: #333333;
  min-height: 1000px;
  color: aliceblue;
  text-align: center;

}

.App-header {
  border: 1px solid aliceblue;
  background-origin: border-box;
}

.App-body{
  border : 1px solid cornflowerblue;
  min-height: 300px;
  border-collapse: collapse;
  background-origin: border-box;
}

.App-body>div{
  border: 1px solid white;
  min-height: 200px;
}